@import url(http://fonts.googleapis.com/css?family=Pacifico);

@font-face {
	font-family: 'iran';
	src: url('../assets/iran.woff');
}

body{
	direction:rtl;
	background-color: #FFFAF0;
}

#title {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #2C3E50;
}

#rubai {
	display: block;
	height: 200px;
	width: 500px;
	margin: 1em auto;
	text-align: center;
	font-size: 1.2em;
	resize: none;
	font-family: "iran";
	color: #674172;
}

#submit {
	display: block;
	width: 100px;
	height: 40px;
	margin: 0 auto;
	font-size: 1.1em;
	border-radius: 2px;
	border: 0;
	outline: none;
	background-color: #F5AB35;
	color: #22313F;
}

#submit:hover{
	cursor: pointer;
	background-color: #F39C12;
}

#submit:active{
	background-color: #D35400;
}

#output {
	width: 500px;
	direction: ltr;
	margin: 1em auto;
}